# Python caches
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Pytest cache
.pytest_cache/

# Large model artifacts
models/*.onnx
models/*.hef
models/*.pt
models/*_norm.json

# Local virtual environment
.venv/
venv/
env/
hailort.log
